#para{
    color: grey;
    border: 2px solid black;
    font-size: larger;
}

.body{
    background-color:white;
    color:black;
}

h1,h2{
    text-align:center;
}

p{
    font-size:x-large;
    font-style:italic;
}

/* Navbar */

#heading{
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color:cadetblue;
    color:white;
}

#image1{
    width:80px;
    height:80px;
    border-radius:70%;
}

nav ul{
    display:flex;
    list-style-type:none;
}

li{
    margin:20px;
    font-size:20px;
}

li a{
    text-decoration:none;
    color:white;
}

/* Containers */

#container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:100vh;
}

#text{
    width:50%;
}

#boxcontainer{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:100vh;

    background-image:url("https://im.hunt.in/cg/City-Guide/about-bangalore.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

#box{
    width:400px;
    height:600px;
    padding:20px;
    background:white;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#container2{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:100vh;
}

#text2{
    width:50%;
    font-size:30px;
}

#imgcntnr{
    display:flex;
    height:100vh;
    justify-content:space-around;
}

#img1{
    height:70%;
}

/* ---------------- RESPONSIVE ADDITION ---------------- */

img{
    max-width:100%;
    height:auto;
}

body{
    overflow-x:hidden;
}

@media only screen and (max-width:768px){

    #heading{
        flex-direction:column;
        text-align:center;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
        padding:0;
    }

    li{
        margin:10px 0;
    }

    #container,
    #container2{
        flex-direction:column;
        height:auto;
        text-align:center;
        padding:20px;
    }

    #text,
    #text2{
        width:95%;
        font-size:18px;
    }

    #boxcontainer{
        flex-direction:column;
        height:auto;
        padding:20px;
    }

    #box{
        width:90%;
        height:auto;
        margin-bottom:20px;
    }

    #imgcntnr{
        flex-direction:column;
        height:auto;
        align-items:center;
    }

    #img1{
        width:90%;
        height:auto;
        margin-bottom:20px;
    }

    #myImage{
        width:100%;
        height:auto;
    }

    p{
        font-size:18px;
    }

    h1{
        font-size:26px;
    }

    h2{
        font-size:22px;
    }

    h3{
        font-size:18px;
    }

    button{
        width:90% !important;
        max-width:400px;
        height:auto !important;
        padding:15px;
    }

}
