#para{
    color: grey;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;

}
.body{
    background-color:white;
    color: black;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
table, tr{
    border: 1px solid black;
    padding: 1rem;

}
th{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}
p{
    font-size: x-large;
    font-style: italic;
}

#heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: cadetblue;
    color: white;
}

#image1{
    width: 80px;
    height: 80px;
    border-radius: 70%;
}

nav ul{
    display: flex;
    list-style-type: none;
}

li{
    margin: 20px;
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: white;
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#container h1{
    font-size: 50px;
    color: rgb(red, green, blue);
}

#bnglr{
    height: 60vh;
    
}

#text{
    width: 50%;
    font-size: 30px;
}


#boxcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    background-image: url("https://im.hunt.in/cg/City-Guide/about-bangalore.jpg");
    background-size: cover;        /* Makes image fill screen */
    background-position: center;   /* Keeps image centered */
    background-repeat: no-repeat;  /* Prevents repeating */
}


#box{
    width: 400px;
    height: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: ;
}

    
#container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#container h1{
    font-size: 50px;
    color: rgb(red, green, blue);
}

#iskcon{
    height: 60vh;
    
}

#text2{
    width: 50%;
    font-size: 30px;
}

#mypara{
    padding-left: 2%;
    padding-right: 2%;    
}

#imgcntnr{
    padding-top: 5%;
    display: flex ;
    height: 100vh;
    justify-content: space-around;
}

#img1{
    height: 70%;
}


@media only screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }

    ul{
        flex-direction: column;
    }

    #container{
        flex-direction: column;
    }
    
}
